#promo {
  padding: 40px;
  text-align: center;
}

#promo .jumbotron {
  border-radius: 20px;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 300px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

#promo {
  padding: 20px;
}

body {
  font-family: Arial, Heletica, sans-serif;
}

.site-section {
  text-align: center;
  padding: 50px 0 60px;
}

#welcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
}

#logo {
  max-height: 80px;
  max-width: 80px;
  padding: 10px;
}

#site-content {
  padding: 40px;
  margin: 0 auto;
}

